/*精品课 start*/
.setMeal {
  .tit {
    height: 0.8rem;
    line-height: 0.8rem;
    padding-left: 0.2rem;
    h3 {
      font-size: 0.32rem;
      color: #333;
      position: relative;
      padding-left: 0.2rem;
      &:before {
        position: absolute;
        top: 0.26rem;
        left: 0;
        content: "";
        width: 0.05rem;
        height: 0.3rem;
        background: #DB2C1B;
      }
    }
  }
  .list {
    padding: 0.2rem;
    li {
      background: #fff;
      margin-bottom: 0.3rem;
      border-bottom-left-radius: 0.1rem;
      border-bottom-right-radius: 0.1rem;
      box-shadow: 0px 8px 10px 0 rgba(0, 0, 0, 0.1);
      &:last-child {
        margin-bottom: 0;
      }
      .type {
        @include package-bg;
        padding: 0.2rem 0.3rem 0.3rem;
        border-top-left-radius: 0.1rem;
        border-top-right-radius: 0.1rem;
        position: relative;
        .classname {
          font-size: 0.28rem;
          color: #fff;
          display: block;
          margin-bottom: 0.2rem;
          padding-right: 1.5rem;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
        .classs {
          position: absolute;
          top: 0.33rem;
          right: 0.3rem;
          padding: 0 0.1rem;
          color: #fff;
          border: 1px solid #fff;
          border-radius: 0.1rem;
        }
      }
      &:last-child {
        .type {
          @include package-bg2;
        }
      }
      dd {
        float: left;
        margin-right: 0.2rem;
        margin-bottom: 10px;
        img {
          width: 0.6rem;
          height: 0.6rem;
          border-radius: 1rem;
          vertical-align: top;
          margin-right: 0.1rem;
        }
        span {
          font-size: 0.22rem;
          color: #fff;
          display: inline-block;
          line-height: 0.6rem;
        }
      }
      .prisebox {
        padding: 0.4rem 0.3rem;
        overflow: hidden;
        .prise {
          font-size: 0.28rem;
          color: #DB2C1B;
        }
        .bought {
          float: right;
          font-size: 0.26rem;
          color: #999;
          display: flex;
          align-items: center;
          i {
            display: inline-block;
            width: 0.3rem;
            height: 0.3rem;
            @include ivon11;
          }
        }
      }
    }
  }
}
.exCourse {
  .list {
    li {
      box-shadow: none;
      border-bottom: 1px solid #ECECEC;
      &:last-child {
        border-bottom: none;
      }
      .img_txt {
        float: left;
        width: 30%;
        position: relative;
        border-radius: 0.1rem;
        color: #fff;
        display: flex;
        align-items: center;
        padding: 10px;
        img {
          width: 100%;
          border-radius: 2px;
        }
      }
    }
    .info {
      float: right;
      width: 70%;
      padding-right: 10px;
      h5 {
        font-size: 14px;
        color: #333;
        padding: 4px 0;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
      .alreay {
        color: #999;
        display: block;
      }
      .by {
        color: #999;
        display: block;
      }
      .prise {
        font-size: 14px;
        color: #DB2C1B;
        .bought {
          float: right;
          font-size: 0.22rem;
          color: #999;
          margin-top: 0.1rem;
          display: flex;
          align-items: center;
          i {
            display: inline-block;
            width: 0.3rem;
            height: 0.3rem;
            @include ivon11;
          }
        }
      }
    }
  }
}