.bg{
  background: #fafafa;
  position: fixed;
  width: 100%;
  height: 100%;
}
.editInfo .tips {
  padding: 0.2rem;
}

.editInfo .tips p {
  font-size: 0.28rem;
  color: #999;
}

.editInfo .btnMod {
  padding: 1rem 0.2rem;
}

.editInfo .btnMod .btn {
  width: 100%;
  height: 0.88rem;
  font-size: 0.3rem;
  background: #DB2C1B;
  color: #fff;
  border: none;
  border-radius: 0.1rem;
}

.accountNumber {
  background: #fff;
  height: 0.88rem;.bg{
  background: #fafafa;
  position: fixed;
  width: 100%;
  height: 100%;
}
  .editInfo .tips {
    padding: 0.2rem;
  }

  .editInfo .tips p {
    font-size: 0.28rem;
    color: #999;
  }

  .editInfo .btnMod {
    padding: 1rem 0.2rem;
  }

  .editInfo .btnMod .btn {
    width: 100%;
    height: 0.88rem;
    font-size: 0.3rem;
    background: #DB2C1B;
    color: #fff;
    border: none;
    border-radius: 0.1rem;
  }

  .accountNumber {
    background: #fff;
    height: 0.88rem;
    overflow: hidden;
  }

  .accountNumber label {
    float: left;
    width: 30%;
    font-size: 0.28rem;
    color: #333;
    text-align: center;
    line-height: 0.88rem;
  }

  .accountNumber .text {
    width: 68%;
    height: 0.88rem;
    font-size: 0.28rem;
    border: none;
  }
  overflow: hidden;
}

.accountNumber label {
  float: left;
  width: 30%;
  font-size: 0.28rem;
  color: #333;
  text-align: center;
  line-height: 0.88rem;
}

.accountNumber .text {
  width: 68%;
  height: 0.88rem;
  font-size: 0.28rem;
  border: none;
}
