.newsList {
  padding: 0.2rem;
}

.newsList li {
  padding: 0.2rem;
  border-bottom: 1px solid #ececec;
}

.newsList li:last-child {
  border-bottom: none;
}

.newsList li h5 {
  font-size: 0.28rem;
  color: #333;
  margin-bottom: 0.2rem;
}

.newsList li .time {
  display: block;
  text-align: right;
  font-size: 0.24rem;
  color: #999;
}
