.ear_get-time-box{
  background-color: #DB2C1B;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 0;
}

.ear_time-group > .vux-no-group-title{
  height: 0.6rem;
  width: 2.1rem;
  margin-top: 0;
}
.ear_time-group > .weui-cells:before,.ear_time-group > .weui-cells:after{
  display: none;
}
.ear_time-group > .vux-no-group-title > .weui-cell{
  height: 0.6rem;
  padding: 0;
}
.ear_time-group > .vux-no-group-title > .weui-cell .weui-cell__ft{
  text-align: left;
  padding-left: 8px;
  background: url("../../assets/img/icon24.png") no-repeat 92% center;
  background-size: 0.3rem 0.3rem;
  font-size: 0.22rem;
}
.ear_time-group > .vux-no-group-title > .weui-cell .weui-cell__ft:after{
  display: none;
}
.ear_get-time-box > span {
  width: 0.3rem;
  height: 1px;
  background: #fff;
  display: block;
  margin: 0 5px;
}

.IncomeDel{
  padding: 0.55rem 0;
  background-color: #DB2C1B;
}

.IncomeDel li {
  float: left;
  width: 50%;
  text-align: center;
  color: #fff;
  box-sizing: border-box;
}

.IncomeDel li:first-child {
  border-right: 1px solid #fff;
}

.IncomeDel li strong {
  display: block;
  font-size: 0.3rem;
}

.IncomeDel li span {
  display: block;
  font-size: 0.53rem;
}

.er-btn {
  height: 0.88rem;
  background: #fff;
  width: 100%;
  font-size: 0.3rem;
  color: #333;
  cursor: pointer;
  display: block;
  text-align: center;
  line-height: 0.88rem;
}

.incomeLst {
  padding: 1rem 0;
  border-bottom: 1px solid #ECECEC;
  line-height: 0.4rem;
}

.incomeLst ul li {
  float: left;
  width: 50%;
  text-align: center;
  overflow: hidden;
}

.incomeLst ul li .item {
  float: left;
  width: 50%;
}

.incomeLst ul li h5 {
  font-size: 0.3rem;
  color: #333;
  text-align: center;
}

.incomeLst ul li span {
  display: block;
  font-size: 0.23rem;
}

.incomeLst ul li strong {
  color: #DB2C1B;
  font-size: 0.18rem;
}

.seltAccount {
  padding: 0.2rem;
  position: relative;
}

.seltAccount .text {
  height: 0.88rem;
  width: 100%;
  border: none;
  background: none;
  font-size: 0.28rem;
  color: #999;
}

.seltAccount .text::-webkit-input-placeholder {
  color: #666;
}

.seltAccount .text:-moz-placeholder {
  color: #666;
}

.seltAccount .text::-moz-placeholder {
  color: #666;
}

.seltAccount .text::-ms-input-placeholder {
  color: #666;
}
.seltAccount .tip {
  position: absolute;
  top: 50%;
  display: inline-block;
  right: 0.3rem;
  font-size: 0.2rem;
  color: #999;
  transform: translateY(-50%);
}

.seltAccount .tip i {
  display: inline-block;
  width: 0.2rem;
  height: 0.2rem;
  vertical-align: top;
  margin-left: 0.05rem;
  margin-top: 1px;
  background: url(../../assets/img/more.png) no-repeat center;
  background-size: 0.2rem 0.2rem;
}
