.incomeDetail .incomeList ul li {
  padding: 0.2rem;
  position: relative;
  border-bottom: 1px solid #ECECEC;
  display: flex;
}

.incomeDetail .incomeList ul li img {
  vertical-align: top;
  width: 0.8rem;
  height: 0.8rem;
  border-radius: 1rem;
  margin-right: 0.2rem;
}

.incomeDetail .incomeList ul li strong {
  font-size: 0.28rem;
  color: #333;
  display: inline-block;
  line-height: 0.8rem;
  width: 60px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.incomeDetail .incomeList.indirect ul li strong {
  max-width: 200px;
  min-width: 100px;
}
.incomeDetail .incomeList ul li span {
  font-size: 0.24rem;
  color: #666;
  margin: 0 0.2rem;
  display: inline-block;
  line-height: 0.8rem;
}
.incomeDetail .incomeList.indirect ul li span.money{
  position: absolute;
  right: 0.2rem;
}

.incomeDetail .incomeList ul li span.time {
  position: absolute;
  margin: 0;
  right: 0.2rem;
}

.seltTime {
  padding: 0.2rem;
  background: #DB2C1B;
}

.confirmButton {
  margin-top: 15px;
}
