.detailImg .img-box{
  position: relative;
  background: url("../../assets/img/img12.png") no-repeat bottom center;
  background-size: 100% auto;
  padding: 5px 0 15px;
}
.detailImg .classname {
  width: 100%;
  font-size: 0.28rem;
  color: #fff;
}
.detailImg .classname strong {
  margin: 0.2rem;
}
.detailImg .classname .school {
  padding: 0 0.2rem 0.2rem;
}
.detailImg .classname .school span {
  margin-right: 0.2rem;
}
.detailImg .classname h5 {
  text-align: center;
  padding: 0 0.2rem;
  font-size: 0.6rem;
  color: #7fd7ff;
  font-weight: bold;
  text-shadow: 0.05rem 0.05rem 0.05rem #000;
  padding-bottom: 0.5rem;
}
.detailImg .classname h5 span {
  margin-left: 0.3rem;
}
.vux-tab-wrap.class-detail-tab-box{
  padding-top: 0.7rem;
}
.vux-tab-wrap.class-detail-tab-box .vux-tab-container{
  height: 0.7rem;
}
.vux-tab-wrap.class-detail-tab-box .vux-tab{
  height: 0.7rem;
}
.vux-tab-wrap.class-detail-tab-box  .vux-tab .vux-tab-item{
  line-height: 0.7rem;
}
.class-group > .weui-cells{
  margin-top: 0;
}
.class-group > .weui-cells:after{
  display: none;
}
.weui-cell.cell-class{
  background-color: #f5f5f5;
  height: 0.7rem;
  padding: 0 0.3rem 0 0.2rem;
  border-bottom: 1px solid #ECECEC;
}
.weui-cell.cell-class:before{
  display: none;
}
.class-item dd {
  background: #fff;
  padding: 0.2rem;
}
.class-item .left {
  float: left;
  width: 65%;
}
.class-item .right {
  float: right;
  width: 35%;
}
.class-item .type {
  display: inline-block;
  width: 0.5rem;
  height: 0.3rem;
  line-height: 0.3rem;
  font-size: 0.2rem;
  color: #DB2C1B;
  border-radius: 0.1rem;
  border: 1px solid #DB2C1B;
  text-align: center;
}
.class-item .name {
  font-size: 0.26rem;
  color: #333;
  margin-left: 0.2rem;
}
.class-item .already {
  font-size: 0.24rem;
  color: #DB2C1B;
}
.class-item .time {
  display: inline-block;
  padding: 0 0.1rem;
  height: 0.3rem;
  line-height: 0.3rem;
  font-size: 0.24rem;
  color: #666;
  border: 1px solid #ccc;
  border-radius: 0.1rem;
  margin-left: 0.2rem;
}
.class-item .time i {
  display: inline-block;
  width: 0.25rem;
  height: 0.25rem;
  background: url(../../assets/img/icon25.png) no-repeat center;
  background-size: 0.25rem 0.25rem;
  margin-right: 0.1rem;
  vertical-align: top;
  margin-top: 0.04rem;
}
.class-item li.my_divon h5 {
  background: url(../../assets/img/upBtn.png) no-repeat 97% #f5f5f5;
  background-size: 0.32rem 0.32rem;
}
.workDetail {
  height: 1.1rem;
  line-height: 1.1rem;
  background: #fff;
  text-align: center;
}
.workDetail span {
  font-size: 0.28rem;
  color: #333;
}
.workDetail strong {
  font-size: 0.4rem;
  color: #DB2C1B;
}
.submitDltList h5 {
  height: 0.88rem;
  line-height: 0.88rem;
  background: #f5f5f5;
  position: relative;
  font-size: 0.28rem;
  color: #9d9d9d;
  padding-left: 0.4rem;
}
.submitDltList h5:before {
  position: absolute;
  top: 0.33rem;
  left: 0.2rem;
  content: "";
  width: 0.05rem;
  height: 0.26rem;
  background: #DB2C1B;
}
.submitDltList h5 span {
  font-size: 0.22rem;
  margin-left: 0.2rem;
}
.submitDltList .fl {
  width: 10%;
}
.submitDltList .fr {
  width: 88%;
}
.submitDltList .workName {
  padding: 0.2rem;
  background: #fff;
  border-bottom: 1px solid #ECECEC;
}
.submitDltList .workName span {
  font-size: 0.24rem;
  color: #999;
}
.submitDltList .workName strong {
  font-size: 0.28rem;
  color: #333;
}
.submitDltList .submitDlt {
  padding: 0.2rem;
  background: #fff;
}
.submitDltList .submitDlt span.fl {
  font-size: 0.24rem;
  color: #999;
}
.submitDltList .submitDlt .pic {
  float: left;
  width: 2.5rem;
  cursor: pointer;
}
.submitDltList .submitDlt .pic img {
  display: block;
  width: 100%;
}
.submitDltList .submitDlt span.tip {
  font-size: 0.26rem;
  color: #999;
  margin-left: 0.3rem;
  margin-top: 0.25rem;
  display: inline-block;
}
.submitDltList .submitDlt .dlt {
  position: relative;
}
.submitDltList .submitDlt .viedo {
  display: inline-block;
  width: 1.6rem;
  height: 0.5rem;
  line-height: 0.5rem;
  background: #DB2C1B;
  font-size: 0.28rem;
  color: #fff;
  border-radius: 0.3rem;
  position: absolute;
  bottom: 0.2rem;
  right: 0;
  text-align: center;
}
.submitDltList .test {
  background: #fff;
  padding: 0.4rem 0.2rem;
  position: relative;
}
.submitDltList .test strong {
  font-size: 0.3rem;
  color: #333;
}
.submitDltList .test .look {
  display: inline-block;
  width: 1.6rem;
  height: 0.5rem;
  line-height: 0.5rem;
  background: #DB2C1B;
  font-size: 0.28rem;
  color: #fff;
  border-radius: 0.3rem;
  position: absolute;
  top: 0.3rem;
  right: 0.2rem;
  text-align: center;;
}
.submitDltList .test .tip {
  position: absolute;
  top: 0.85rem;
  right: 0.7rem;
  font-size: 0.2rem;
  color: #999;
}
.submitDltList .test .un {
  color: #000;
}
