  .detailImg {
    position: relative;
    .indexBanner {
      img {
        width: 100%;
      }
    }
  }

  .detailImg .share {
    width: 0.45rem;
    height: 0.45rem;
    @include icon12;
    // background: url(../assets/img/icon12.png) no-repeat center rgba(0, 0, 0, 0.5);
    position: absolute;
    // top: 0.2rem;
    top: -33px;
    right: 0.2rem;
    z-index: 10;
  }

  .detailImg .hd {
    bottom: 0.2rem;
  }

  .detailImg .hd ul li {
    width: 0.1rem;
    height: 0.1rem;
    border-radius: 0.5rem;
    border: 1px solid #fff;
    background: none;
  }

  .detailImg .hd ul li.on {
    background: #fff;
  }

  .detailImg .img {
    display: block;
    width: 100%;
  }

  .detailImg .goback {
    width: 0.45rem;
    height: 0.45rem;
    @include goback;
    //background: url(../assets/img/goback.png) no-repeat center rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0.2rem;
    left: 0.2rem;
    z-index: 10;
    border-radius: 1rem;
  }

  .detailImg .classname {
    position: absolute; /*bottom:0;*/
    top: 0.9rem;
    left: 0;
    width: 100%;
    font-size: 0.28rem;
    color: #fff;
  }

  .detailImg .classname strong {
    margin: 0.2rem;
  }

  .detailImg .classname .school {
    padding: 0 0.2rem 0.2rem;
  }

  .detailImg .classname .school span {
    margin-right: 0.2rem;
  }

  .detailImg .classname h5 {
    text-align: center;
    padding: 0 0.2rem;
    font-size: 0.6rem;
    color: #7fd7ff;
    font-weight: bold;
    text-shadow: 0.05rem 0.05rem 0.05rem #000;
    padding-bottom: 0.5rem;
  }

  .detailImg .classname h5 span {
    margin-left: 0.3rem;
  }

  .top_0124 {
    @include img8;
  }

  .top_0124 .top {
    text-align: center;
  }

  .top_0124 .top span {
    font-size: 0.24rem;
    color: #000;
    font-weight: bold;
  }

  .top_0124 .top strong {
    display: inline-block;
    font-size: 0.34rem;
    color: #fff;
    font-weight: bold;
    padding: 0 0.3rem;
    height: 0.7rem;
    line-height: 0.7rem;
    background: rgba(0, 0, 0, 0.2);
    position: relative;
  }

  .top_0124 .top strong i {
    display: inline-block;
    width: 0.05rem;
    height: 0.05rem;
    background: #000;
    margin: 0 0.1rem;
  }

  .top_0124 .top strong i:first-child {
    position: absolute;
    top: 0.35rem;
    left: 0;
  }

  .top_0124 .top strong i:last-child {
    position: absolute;
    top: 0.35rem;
    right: 0;
  }

  .top_0124 .type {
    padding: 0.5rem 0;
  }

  .top_0124 .type strong {
    display: block;
    text-align: center;
    font-size: 0.7rem;
    font-weight: bold;
    color: #fff;
    line-height: 0.76rem;
  }

  .top_0124 ul {
    text-align: center;
    padding-bottom: 0.5rem;
  }

  .top_0124 ul li {
    display: inline-block;
    margin: 0 0.2rem;
    background: #cb9fba;
    border: 3px solid #552644;
    border-radius: 1rem;
    width: 1.05rem;
    height: 1.05rem;
  }

  .top_0124 ul li span {
    display: block;
    font-size: 0.26rem;
    color: #8a0317;
    line-height: 0.3rem;
  }

  .top_0124 ul li .item {
    padding-top: 0.2rem;
  }

  .tab-active{
    color: #DB2C1B;
  }

  .vux-tab-wrap.custom-tab{
    padding-top: 36px;
  }

  /*选项卡切换内容*/
  .courseLst {
    padding: 0.2rem;
  }

  .courseLst h3 {
    font-size: 0.32rem;
    color: #333;
    position: relative;
    height: 0.8rem;
    line-height: 0.8rem;
    padding-left: 0.2rem;
  }

  .courseLst h3:before {
    position: absolute;
    top: 0.26rem;
    left: 0;
    content: "";
    width: 0.05rem;
    height: 0.3rem;
    background: #DB2C1B;
  }

  .courseLst .list li {
    padding: 0.2rem 0;
    border-bottom: 1px solid #ececec;
  }

  .courseLst .list li:last-child {
    border: none;
  }

  .courseLst .list li {
    position: relative;
  }

  .courseLst .list li h5 {
    font-size: 0.28rem;
    color: #333;
  }

  .courseLst .list li span {
    font-size: 0.24rem;
    color: #666;
    margin-right: 0.3rem;
  }

  .courseLst .list li i.turn {
    display: inline-block;
    width: 0.3rem;
    height: 0.3rem;
    @include icon15;
    position: absolute;
    top: 0.3rem;
    right: 0.1rem;
  }

  .courseLst .list li i.turn.on {
    display: inline-block;
    width: 0.3rem;
    height: 0.3rem;
    @include icon15on;
    position: absolute;
    top: 0.3rem;
    right: 0.1rem;
  }

  .courseLst .main {
    padding-top: 0.2rem;
  }

  .courseLst .main p {
    font-size: 0.26rem;
    color: #666;
    text-indent: 0.2rem;
  }

  .fade-enter-active{
    transition: opacity .5s;
    transition-delay: .5s;
  }
  .fade-leave-active{
    transition: opacity .5s;
  }
  .fade-enter, .fade-leave-to {
    opacity: 0;
  }

  .botFixed {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 99;
    background: #fff;
    overflow: hidden;
  }

  .botFixed .left {
    float: left;
    width: 75%;
    height: 0.88rem;
    overflow: hidden;
  }

  .botFixed .left ul li {
    float: left;
    width: 33.3333%;
    text-align: center;
    padding-top: 0.1rem;
  }

  .botFixed .left ul li i {
    display: block;
    width: 0.32rem;
    height: 0.32rem;
    margin: auto;
  }

  .botFixed .left ul li i.consult {
    @include icon13;
  }

  .botFixed .left ul li i.collect {
    @include icon14;
  }

  .botFixed .left ul li i.collect.on {
    @include icon14on;
  }

  .botFixed .left ul li span {
    font-size: 0.22rem;
    color: #333;
  }

  .botFixed .left ul li.money {
    background: #f3f2f7;
    height: 0.88rem;
  }

  .botFixed .left ul li.money strong {
    display: block;
    font-size: 0.28rem;
    color: #DB2C1B;
    line-height: 0.33rem;
  }

  .botFixed .right {
    float: right;
    width: 25%;
  }

  .botFixed .right .btn {
    width: 100%;
    height: 0.88rem;
    font-size: 0.3rem;
    color: #fff;
    background: #DB2C1B;
    cursor: pointer;
    display: block;
    text-align: center;
    line-height: 0.88rem;
  }