.verification-code {
  .loginform {
    padding: 0.3rem 0.2rem;
  }

  .loginform li {
    overflow: hidden;
    position: relative;
    border-bottom: 1px solid #ececec;
  }

  .loginform li .lecon {
    float: left;
    width: 15%;
    font-size: 0.28rem;
    color: #333;
    line-height: 0.88rem;
  }

  .loginform li .text {
    width: 82%;
    height: 0.88rem;
    border: none;
    font-size: 0.28rem; /*color:#cacaca;*/
    background: #fff;
  }

  .loginform li .lecon .icon {
    display: inline-block;
    width: 0.2rem;
    height: 0.2rem;
    margin-left: 0.1rem;
    @include icon22;
  }

  .loginform li .getbtn {
    position: absolute;
    top: 0;
    right: 0.2rem;
    background: none;
    border: none;
    font-size: 0.26rem;
    color: #696666;
    height: 0.88rem;
    cursor: pointer;
  }

  .loginform .btnmod {
    padding: 0.2rem 0;
  }

  .loginform .btnmod .btn {
    width: 100%;
    height: 0.88rem;
    font-size: 0.3rem;
    background: #DB2C1B;
    color: #fff;
    border: none;
    border-radius: 0.1rem;
  }
  .loginform .otherLogin {
    display: flex;
    justify-content: space-between;
  }
  .loginform .otherLogin a {
    font-size: 0.24rem;
    color: #666;
  }

  .loginform .otherLogin .ymaLogin {
    float: right;
  }

  .loginform .otherLogin .on {
    color: #DB2C1B;
  }
}